
<!--
<div class="ui list">

<div class="item">
	<i class="{{chevronIcon}}" {{action "toggleCollapse"}}></i><i class="{{icon}}" {{action "toggleCollapse"}}></i>
	<div class="content" >
		<div class="header">{{path-to-name model.path}}</div>
		{{#if collapsed}}
		{{else}}
		<div class="list">
			{{#each subKeys as |sk|}}
				{{folder-tree model=sk getKey=(action 'lookup')}}
			{{/each}}
		</div>
		{{/if}}
	</div>
</div>
	

</div>
-->



<i class="{{chevronIcon}}" style="{{depthStyle}}" {{action "toggleCollapse"}}></i><i class="{{icon}}" {{action "toggleCollapse"}}></i>

{{#if isSelected}}
	<a class="header" href="#" style="color:black;background-color:#AED6F1" {{action "setSelected" model.path}} title="Last modified: {{model.timestamp}}">{{path-to-name model.path}}</a>
{{else}}
	<a class="header" href="#" style="color:black" {{action "setSelected" model.path}} title="Last modified: {{model.timestamp}}">{{path-to-name model.path}}</a>
{{/if}}



{{#if collapsed}}
{{else}}
{{#each subKeys as |sk|}}
	{{folder-tree model=sk getKey=(action 'lookup') selectKey=(action 'setSelected') selected=selected}}
{{/each}}
{{/if}}

