{{#if model.path}}

	<h3>{{model.path}}</h3>
	
	{{#if model.classname}}
	<h5>Class Name: {{model.classname}}</h5>
	{{/if}}

	{{#if values}}
		<table class="ui celled padded table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Size</th>
					<th>Hash</th>
				</tr>
			</thead>
			<tbody>
		
				{{#each values as |val|}}
					<tr>
						<td>{{path-to-name val.path}}</td>
						<td>{{convert-registry-type val.datatype}}</td>
						<td>{{pretty-size val.datasize}}</td>
						<td title="{{val.hash}}">{{truncate-string val.hash 40}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<p class="red">no values to display</p>
	{{/if}}
	
	<div>
		{{outlet}}
	</div>
{{/if}}

