
<div style="margin-top:5em" class="ui container">
	<h3>Select Hive to view</h3>
	<div class="ui relaxed divided list">
	
		{{#each model as |hive|}}
  			<div class="item">
    			<i class="large yellow folder middle aligned icon"></i>
    			<div class="content">
    	  			<a class="header" href="/hive/{{hive.id}}">{{hive.label}}</a>
	      			<div class="description">{{hive.description}}</div>
	    		</div>
  			</div>
  		{{/each}}
	</div>
</div>
