<div id="tree" style="margin-left:2em;margin-right:2em;margin-top:5em">


	<div class="ui left fixed vertical menu" style="padding-left:12px;padding-top:24px;margin-top:7em;padding-bottom:7em;overflow:auto;width:600px">
		
				<h3><i class="teal cubes icon"></i>{{model.label}}</h3>
	
				{{#each model.rootNodes as |rn|}}
					{{folder-tree model=rn selected=selected getKey=(action 'lookup') selectKey=(action 'setSelected')}}
				{{/each}}
	</div>
	
	
	<div style="padding-left:600px">
		
		
				{{folder-content model=selected getKey=(action 'lookup')}}
		
	</div>
</div>